.Panel {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  min-height: 100vh;
  background-color: #fff;
  transition: all 0.5s ease;
  width: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  &.active {
    width: 350px;
  }
}

.SidePanel {
  &__header {
    display: flex;
    background-color: #3b82f6;
    height: 75px;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  }

  &__content {
    padding: 25px;
    overflow-y: scroll;
    height: 49.7em;
  }
 &__content::-webkit-scrollbar {
    width: 9px;
    border-radius: 10px;
  }
  &__content::-webkit-scrollbar-thumb {
    background-color: #0000002b;
  border-radius: 10px;
  }
  &__content:hover::-webkit-scrollbar-thumb {
    background-color: #2626278a;

  }
  &__footer {
    border-top: 1px solid #00000015;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
.Message {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 10px;
  position: relative;
  box-shadow: #0000004d 0 1px 4px -1px;
  &-details {
    font-size: 12px;
    border-bottom: 1px solid #05010175;
    padding-bottom: 1vh;
  }
  &-text {
    color: #050101;
  }
}
.trip {
  background-color: #eef2f9;
  border-radius: 8px;
  border: 1px solid #dce6f3;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 16px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #dce6f3c7;
  }

  .driver {
    font-size: 17px;
    font-weight: bold;
    color: #003e6b;
  }

  .company,
  .phone,
  .truck,
  .start,
  .destination {
    font-size: 13px;
    color: #6d8ea0;
  }

  .start,
  .truck,
  .destination,
  .phone,
  .company {
    margin-top: 8px;
  }

  .destination {
    margin-bottom: 8px;
  }
}
