.basic-layout {
  display: flex;
  background: #f9f9f9;
  height: 100%;
  min-height: 100vh;
  &__sidebar{
    position: fixed;
  }
}
.basic_layout__sidebar{
  position: fixed;
  z-index: 3;
}
.basic-layout__content{
  padding: 30px;
  width: 100%;
}
